PORT=3000
JWT_SECRET=MySuperSecretKey123!@#
SESSION_SECRET=AnotherRandomSecret456$%^
GROQ_API_KEY=YOUR_GROQ_API_KEY

MONGO_URI=mongodb://localhost:27017/interviewdb

# email setup
GMAIL_USER=@gmail.com
GMAIL_PASS=